<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png">
    <link rel="mask-icon" href="/favicon.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:image" content="/logo.svg" />
    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="expires" content="0" />

    <link href="/.tmp/output.css" rel="stylesheet">
  </head>
  <body class="h-full">
    <div class="h-full" id="app"></div>
    <script type="module" src="/src/main.ts"></script>
  </body>

</html>
